<!doctype html>

<html lang="fr-FR">
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>Lex&Co Avocats🔹</title>
		<meta name="description" content="Cabinet d'avocats">
		<meta name="author" content="Antoine Weber">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/hamburgers.css">
		<link rel="icon" type="image/png" href="favicon.png" />
</head>

<body>
	<header id="header">
		<nav>
			<div class="container">
				<div class="grid-container">
					<div class="header-left">
					  <a href="index.html"><img id="logo" src="https://slk333.github.io/lexco/logo.png"></img></a>
					  <div class="flexbox">
					  	<div class="hamburger hamburger--stand">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="header-right">
						<a href="index.html">ACCUEIL</a>
					  <a href="#css">NOS SERVICES</a>
					  <a href="team.html">LE CABINET</a>
					  <a href="contact.html">CONTACT</a>
				  </div>
				</div>
			 </div>
		</nav>
	</header>
